doctype html
html(lang="en")
  head
    title Register
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body
    #header
        font(color="#00AAA0", size="40") Food Hunter
        a(href="/restaurants", class='button1') Main Menu
    #formcontent
        .class2
            .class
                block content
                  br
                  h3
                    strong
                        u Register My Restaurant
                  br
                  form(method="POST", enctype="multipart/form-data")
                    .form-group
                      label(for="restname") Restaurant Name
                          div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", style="width:350px;height:30px;", name="restname", id="restname", value=restaurant.restname, required)
                    .form-group
                      label(for="restcategory") Restaurant Category
                          div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", style="width:350px;height:30px;", name="restcategory", id="restcategory", value=restaurant.restcategory, required)
                    .form-group
                      label(for="restlotno") Restaurant Lot No
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", placeholder="Lot/Shop number", style="width:350px;height:30px;", name="lotno", id="lotno", value=restaurant.lotno, required)
                    .form-group
                      label(for="reststreetname") Restaurant Street Name
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", placeholder="Street name", style="width:350px;height:30px;", name="streetname", id="streetname", value=restaurant.streetname, required)
                    .form-group
                      label(for="restcity") Restaurant City
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", placeholder="City", style="width:350px;height:30px;", name="city", id="city", value=restaurant.city, required)
                    .form-group
                      label(for="reststate") Restaurant State
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", placeholder="State", style="width:350px;height:30px;", name="state", id="state", value=restaurant.state, required)
                    .form-group
                      label(for="restpostcode") Restaurant Postcode
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", placeholder="Postcode", style="width:350px;height:30px;", name="postcode", id="postcode", value=restaurant.postcode, required)
                    .form-group
                      label(for="image") Menu Image
                             div(class="col-lg-4 col-lg-offset-4")
                                input.form-control(type="file",  style="width:350px;height:40px;", name="image", id="image")
                    .form-group(style="display: none !important; visibility: hidden !important;")
                      label(for="imageUrl") Menu Image URL
                             div(class="col-lg-4 col-lg-offset-4")
                                input.form-control(type="text",  style="width:350px;height:30px;", name="imageUrl", id="imageUrl", value=restaurant.imageUrl)
                    .form-group(style="display: none !important; visibility: hidden !important;")
                      label(for="menu") menu
                             div(class="col-lg-4 col-lg-offset-4")
                                input.form-control(type="text",  style="width:350px;height:30px;", name="menu", id="menu", value=restaurant.menu)
                    .form-group
                      label(for="resttelno") Restaurant Telephone Number
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", style="width:350px;height:30px;", name="resttelno", id="resttelno", value=restaurant.resttelno, required)
                    .form-group
                        button.button3(type="submit") SAVE
