doctype html
html(lang="en")
  head
    title Register
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body
    #header
        font(color="#00AAA0", size="40") Food Hunter
        a(href="#", onclick="history.go(-1)", class='button1') Go Back
        if isLoggedIn
            a(href="/restaurants/logout", class='button1') Logout
        else
            a(href="/restaurants/login", class='button1') Login
    #formcontent
        .class2
            .class
                block content
                  br
                  h3
                    strong
                        u Register My Restaurant
                  br
                  form(method="POST", enctype="multipart/form-data", autocomplete="off")
                    .form-group
                      label(for="name") Restaurant Name
                          div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", style="width:350px;height:30px;", name="name", id="name", value=restaurant.name)
                    .form-group
                      label(for="category") Restaurant Category
                          div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", style="width:350px;height:30px;", name="category", id="category", value=restaurant.category)
                    .form-group
                      label(for="lotnumber") Restaurant Lot No
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", placeholder="Lot/Shop number", style="width:350px;height:30px;", name="lotnumber", id="lotnumber", value=restaurant.lotnumber)
                    .form-group
                      label(for="street") Restaurant Street Name
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", placeholder="Street name", style="width:350px;height:30px;", name="street", id="street", value=restaurant.street)
                    .form-group
                      label(for="city") Restaurant City
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", placeholder="City", style="width:350px;height:30px;", name="city", id="city", value=restaurant.city)
                    .form-group
                      label(for="state") Restaurant State
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", placeholder="State", style="width:350px;height:30px;", name="state", id="state", value=restaurant.state)
                    .form-group
                      label(for="postcode") Restaurant Postcode
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", placeholder="Postcode", style="width:350px;height:30px;", name="postcode", id="postcode", value=restaurant.postcode)
                    .form-group
                      label(for="image") Menu Image
                             div(class="col-lg-4 col-lg-offset-4")
                                input.form-control(type="file",  style="width:350px;height:40px;", name="image", id="image", value=restaurant.image)
                    .form-group(style="display: none !important; visibility: hidden !important;")
                      label(for="imageUrl") Menu Image URL
                             div(class="col-lg-4 col-lg-offset-4")
                                input.form-control(type="text",  style="width:350px;height:30px;", name="imageUrl", id="imageUrl", value=restaurant.imageUrl)
                    .form-group(style="display: none !important; visibility: hidden !important;")
                      label(for="menu") menu
                             div(class="col-lg-4 col-lg-offset-4")
                                input.form-control(type="text",  style="width:350px;height:30px;", name="menu", id="menu", value=restaurant.menu)
                    .form-group
                      label(for="telnumber") Restaurant Telephone Number
                         div(class="col-lg-4 col-lg-offset-4")
                            input.form-control(type="text", style="width:350px;height:30px;", name="telnumber", id="telnumber", value=restaurant.telnumber)
                    .form-group
                        button.button3(type="submit") REGISTER
