doctype html
html(lang="en")
  head
    title Register
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body
    #header
      font(color="#00AAA0", size="40") Food Hunter
      a(href="/restaurants/add", class='button1') Register My Restaurant
    #sidebar
        form(action="/restaurants/list" method="GET" autocomplete="off")
            .form-group
                input.form-control(type="text1", name="usrfoodchoice", id="usrfoodchoice", placeholder="Choice of Food")
            .form-group
                input.form-control(type="text2", name="usrfoodlocation", id="usrfoodlocation", placeholder="Choice of Location (city)")
            .form-group
                button.button2(type="submit") SEARCH
    div
        table
            thead
                tr: th Restaurant Name
                    th Restaurant Category
                    th Restaurant Address
                    th Restaurant Telephone Number
                    th Guide Me There Now
            tbody
                each restaurant in restaurants
                    tr
                        td
                            .media
                                a(href=`/restaurants/${restaurant.id}`)
                                    .media-body
                                        h5= restaurant.name
                        td
                            p= restaurant.category
                        td
                            p= restaurant.lotnumber + "," + restaurant.street + "," + restaurant.city + "," + restaurant.state + "," + restaurant.postcode
                        td
                            p= restaurant.telnumber
                        td
                            #divimg
                                a(href="http://maps.google.com/?saddr=Current+Location&daddr=" + restaurant.lotnumber + "," + restaurant.street + "," + restaurant.city + "," + restaurant.state + "," + restaurant.postcode)
                                    img(src="http://logonoid.com/images/google-maps-logo.png", style="width:60px;height:50px;")

                if !restaurants.length
                  h3 No restaurants found.
                  br

                if nextPageToken
                  nav
                    ul.pager
                      li
                        a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
