doctype html
html(lang="en")
  head
    title Register
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body
    #header
        font(color="#00AAA0", size="40") Food Hunter
        a(href="/restaurants/tempstorage", class='button1') Main Menu
    #sidebar
        .media
            .media-body
                h2
                    u= restaurant.restname
                br
                h4 Category
                p= restaurant.restcategory
                br
                h4 Address
                p= restaurant.lotno + "," + restaurant.streetname + "," + restaurant.city + "," + restaurant.state + "," + restaurant.postcode
                br
                h4 Telephone number
                p= restaurant.resttelno
        .btn-group
            a(href=`/restaurants/${restaurant.id}/edit`, class='btn btn-primary btn-sm')
                i.glyphicon.glyphicon-edit
                span  Edit restaurant
            | &nbsp;&nbsp;&nbsp;
            a(href=`/restaurants/${restaurant.id}/delete`, class='btn btn-danger btn-sm')
                i.glyphicon.glyphicon-trash
                span  Delete restaurant
    #content
        h3 Menu:
        img(src=restaurant.imageUrl, alt="Menu")
