doctype html
html(lang="en")
  head
    title Register
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body
    #header
        font(color="#00AAA0", size="40") Food Hunter
        a(href="/restaurants", class='button1') Main Menu
    #sidebar
        .media
            .media-body
                h2= restaurant.restname
                p= restaurant.restcategory
                p= restaurant.description
        .btn-group
            a(href=`/restaurants/${restaurant.id}/edit`, class='btn btn-primary btn-sm')
                i.glyphicon.glyphicon-edit
                span  Edit restaurant
            | &nbsp;&nbsp;&nbsp;
            a(href=`/restaurants/${restaurant.id}/delete`, class='btn btn-danger btn-sm')
                i.glyphicon.glyphicon-trash
                span  Delete restaurant
    #content
        h3 Menu:
        img(src="restaurant.image", alt="Menu")
