doctype html
html(lang="en")
  head
    title Register
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body
    #header
        font(color="#00AAA0", size="40") Food Hunter
        a(href="/restaurants", class='button1') Main Menu
        a(href="#", onclick="history.go(-1)", class='button1') Go Back
    #sidebar
        .media
            .media-body
                h2
                    u= restaurant.name
                br
                h4 Category
                p= restaurant.category
                br
                h4 Address
                p= restaurant.lotnumber + "," + restaurant.street + "," + restaurant.city + "," + restaurant.state + "," + restaurant.postcode
                a(href="http://maps.google.com/?saddr=Current+Location&daddr=" + restaurant.lotnumber + "," + restaurant.street + "," + restaurant.city + "," + restaurant.state + "," + restaurant.postcode, class="button") Open in Google Maps
                br
                br
                h4 Telephone number
                p= restaurant.telnumber
        .btn-group
            a(href=`/restaurants/${restaurant.id}/edit`, class='btn btn-primary btn-sm')
                i.glyphicon.glyphicon-edit
                span  Edit restaurant
            | &nbsp;&nbsp;&nbsp;
            a(href=`/restaurants/${restaurant.id}/delete`, class='btn btn-danger btn-sm')
                i.glyphicon.glyphicon-trash
                span  Delete restaurant
    #content
        h3 Menu:
        img(src=restaurant.imageUrl, alt="Menu")
